<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="angular/angular.js"></script>
</head>
<body>
	

  <div ng-app="Demo" ng-controller="testCtrl as ctrl">sdsd
    <!--   <div id="top" ng-click="ctrl.gotoBottom()">跳到底部</div>
      <div id="bottom" ng-click="ctrl.gotoTop()">跳到顶部</div>
<input type="text" ng-model="name" /> -->
      <div  my-transclude>
        <span>ss</span>
      </div>
      asdasd
  </div>

<script type="text/javascript">
	
	(function () {
    angular.module("Demo", [])
    .config(['$compileProvider', function ($compileProvider) {
    // disable debug info
    //$compileProvider.debugInfoEnabled(false);
    }])
    .directive("myTransclude",function(){

      return {

        // transclude:true,
        transclude:'element',
        //replace:true,  //不替换掉的话 如果是 transclude:'element' 那么还是 comment节点
        scope:{ name: '='},
        template:'<p ng-transclude></p>'
      }

    })
    .controller("testCtrl",['$rootScope','$compile','$scope',"$location", "$anchorScroll",testCtrl])
     .controller("secondController",['$rootScope','$scope',"$location", "$anchorScroll",secondController]);
    
    function secondController(scope,$scope,$location,$anchorScroll){


    }

    function testCtrl(scope,compile,$scope,$location,$anchorScroll){

      //compile.debugInfoEnabled(false);
      this.gotoTop = function () {
        $location.hash("top");
        // $anchorScroll();
      };
      this.gotoBottom = function () {
        $location.hash("bottom");
        // $anchorScroll();
      };

      $scope.name = "john";

       var scope =  scope;
      console.log(scope);
    };
  }());

  function camelCase(name) {
  return name.
    replace(SPECIAL_CHARS_REGEXP, function(_, separator, letter, offset,ss) {
      return offset ? letter.toUpperCase() : letter;
    }).
    replace(MOZ_HACK_REGEXP, 'Moz$1');
}
var SPECIAL_CHARS_REGEXP = /([\:\-\_])+(.)/g;
var MOZ_HACK_REGEXP = /^moz([A-Z])/;
var PREFIX_REGEXP = /^((?:x|data)[\:\-_])/i;

var result = 'ng-app'.replace(PREFIX_REGEXP, '');

console.log(camelCase(result));

 
</script>
</body>
</html>